<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Account | Jae Phone
  body
    h1 Here are all the numbers you have rented
    ul
    each number in numbers
      li
        span=number.phone_number
        a(href=`/release/${number.phone_number}?pid=${number.sid}`) Release this number