extends templates/layout

block content
  form(action="/create-account", method="post")
    input(type="text", placeholder="Email", name="email")
    input(type="password", placeholder="Password", name="password")
    input(type="submit", value="Create Account")
  a(href="/users/forgot-password") Forgot your password?
  span Dont't have an account?
    a(href="/create-account") Create one!