extends templates/layout

block content
  h1 Here are all the numbers you have rented
  ul
  each number in numbers
    li
      span=number.phone_number
      div
        a(href=`/numbers/release/${number.phone_number}?pid=${number.sid}`) Release this number
        span |
        a(href=`/numbers/inbox/${number.phone_number}`) Check inbox