<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Inbox | Jae Phone
  body
    h1=`This are all the messages ${phoneNumber} has received`
    if error
      span=error
    if messages
      div
        each message in messages
          span=`From: ${message.from}`
          br
          span=`Message ${message.body}`
              