extends templates/layout

block content
  h1=`This are all the messages ${phoneNumber} has received`
  if messages
    div
      each message in messages
        span=`From: ${message.from}`
        br
        span=`Message ${message.body}`
            