extends templates/layout

block content
  if !confirmed && !error
    p=`You are about to release the phone number: ${phoneNumber}.`
    p=`You will stop getting messages to this number and you won't be able to rent it back`
    a(href=`?confirmed=true&pid=${pid}`) Confirm?