header
  h1 Jae Phone
  div
    if !currentUser
      ul
        li
          a(href="/create-account") Create Account
        li
          a(href="/log-in") Log in
    else
      ul
        li
          a(href="/dashboard") Dashboard
        li
          a(href="/users/account") Account
        li
          a(href="/log-out") Log Out